<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Menu</title>
   
</head>
<body>
    <h1>Menu general</h1>

    <form action="<%=url%>/clientes" method="POST">
        <input type="hidden" name="token" value="<%=token%>">
        <button class="button is-success is-rounded" type="submit">Clientes</button>
    </form>

    <form action="<%=url%>/turnos" method="POST">
        <input type="hidden" name="token" value="<%=token%>">
       <button class="button is-success is-rounded" type="submit">Turno</button>
    </form> 


    <form action="<%=url%>/dameClientes" method="POST">
        <input type="hidden" name="token" value="<%=token%>">
        <button class="button is-success is-rounded" type="submit">Listar Clientes</button>
    </form>
   
    <script>
        // Requerimiento 001  código para ir al menú de turnos.
    </script>
</body>
</html>